<div class="home container">
    <carousel [showIndicators]="false">
      <slide>
        <img
          alt="First slide"
          class="d-block w-100"
          src="https://dotz4.r.worldssl.net/~/media/Dotz/NovoGuide/20210511/banner-dia_dos_namorados-1920x635.png"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="https://dotz4.r.worldssl.net/~/media/Dotz/NovoGuide/20201203/20210426BANNERHOMEBOBS.png"
        />
      </slide>
      <slide>
        <img
          alt="Third slide"
          class="d-block w-100"
          src="https://dotz4.r.worldssl.net/~/media/Dotz/NovoGuide/20201203/20210126_CARREFOUR_1920x635_v2 (2).png"
        />
      </slide>
    </carousel>
  </div>