::ng-deep {
    .toast-success {
        background: #00c347 !important;
        color: #fff !important;
    }

    .toast-warning {
        background: #f54f26;
        color: #fff !important;
    }
}